@model Utility.ResultModel.ItemDetailsModel
@{

    var item = Model.item.FirstOrDefault();
    var manwomen = item.gender == "Male" ? "Men's" : (item.gender == "Female" ? "Women's" : "");
    var gender = item.gender == "Male" ? "Men" : (item.gender == "Female" ? "Women" : "");
    var prodimg = item.image.Contains("https://i.imgur.com/") ? item.image :  (item.image.Contains("https//i.ibb.co/") ? item.image: "https://admin.gbsretail.com" + item.image)  ;

     ViewBag.title = "Titan wrist watches for men in chaibasa Singhbhum - GBS Retails";
            ViewBag.description = "Best Titan wrist watch for men at GBS Store, Find your best wrist watch collection here. Best analog wrist watch design availbe for men in chaibasa singhbhum";
}
<!-- BREADCRUMB AREA START -->
 <div class="ltn__breadcrumb-area ltn__breadcrumb-color-white bg-overlay-theme-black-90" style="margin-bottom:20px;">
       <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                          
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- BREADCRUMB AREA END -->
<!-- SHOP DETAILS AREA START -->
<div class="ltn__shop-details-area pb-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="ltn__shop-details-inner mb-60">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ltn__shop-details-img-gallery">
                                <div class="ltn__shop-details-large-img">
                                    <div class="single-large-img">
                                        <a href="img/product/1.png" data-rel="lightcase:myCollection">
                                            <img src="@prodimg" alt="Image">
                                        </a>
                                    </div>
                                    @foreach (var gallery in Model.gallery)
                                    {
                                         var img = gallery.image.Contains("https://i.imgur.com/") ? gallery.image :  (gallery.image.Contains("https://i.ibb.co/") ? gallery.image: "https://admin.gbsretail.com" + gallery.image)  ;
                                      
                                        <div class="single-large-img">
                                            <a href="img/product/1.png" data-rel="lightcase:myCollection">
                                                <img src="@img" alt="Image">
                                            </a>
                                        </div>
                                    }


                                </div>
                                <div class="ltn__shop-details-small-img slick-arrow-2">

                                    <div class="single-small-img">
                                        <img src="@prodimg" alt="Image">
                                    </div>
                                    @foreach (var gallery in Model.gallery)
                                    {
                                          var img = gallery.image.Contains("https://i.imgur.com/") ? gallery.image :  (gallery.image.Contains("https://i.ibb.co/") ? gallery.image: "https://admin.gbsretail.com" + gallery.image)  ;
                                        <div class="single-small-img">
                                            <img src="@img" alt="Image">
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="modal-product-info shop-details-info pl-0">
                                <div class="product-ratting">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                        <li><a href="#"><i class="far fa-star"></i></a></li>
                                        <li class="review-total"> <a href="#"> ( 95 Reviews )</a></li>
                                    </ul>
                                </div>
                                <h3>@item.item_name</h3>
                                <div class="product-price">
                                     @if (item.price > item.sales_price)
                                    {
                                        <del>₹ @(item.sales_price)</del>
                                  
                                       }
                                      <span>₹ @item.price</span>
                                </div>
                                <div class="modal-product-meta ltn__product-details-menu-1">
                                    <ul>
                                        <li>
                                            <strong>Categories:</strong>
                                            <span>
                                                <a href="#">@item.category_name</a>
                                               
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ltn__product-details-menu-2">
                                    <form action="#" method="post" id="add-to-cart-or-refresh">
                                        <ul>
                                            <li>
                                                <div class="cart-plus-minus">
                                                    <input type="text" value="1" min="1" name="qty" class="cart-plus-minus-box">
                                                </div>
                                            </li>
                                            <li>

                                                <input type="hidden" name="product_id" value="@item.id">
                                                <input type="hidden" name="modelno" value="@item.sku">
                                                <input type="hidden" name="product_name" value="@item.item_name">
                                                <input type="hidden" name="image" value="@item.image">
                                                <input type="hidden" name="price" value="@item.price">

                                                <a href="#" class="theme-btn-1 btn btn-effect-1 add-to-cart" title="Add to Cart" data-toggle="modal" data-target="#add_to_cart_modal">
                                                    <i class="fas fa-shopping-cart"></i>
                                                    <span>ADD TO CART</span>
                                                </a>

                                            </li>
                                        </ul>
                                    </form>
                                </div>
                                <div class="ltn__product-details-menu-3">
                                    <ul>
                                        <li>
                                            <a href="#" class="" title="Wishlist" data-toggle="modal" data-target="#liton_wishlist_modal">
                                                <i class="far fa-heart"></i>
                                                <span>Add to Wishlist</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="" title="Compare" data-toggle="modal" data-target="#quick_view_modal">
                                                <i class="fas fa-exchange-alt"></i>
                                                <span>Compare</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="ltn__social-media">
                                    <ul>
                                        <li>Share:</li>
                                        <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>

                                    </ul>
                                </div>
                                <hr>
                                <div class="ltn__safe-checkout">
                                    <h5>Guaranteed Safe Checkout</h5>
                                    <img src="img/icons/payment-2.png" alt="Payment Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Shop Tab Start -->
                <div class="ltn__shop-details-tab-inner ltn__shop-details-tab-inner-2">
                    <div class="ltn__shop-details-tab-menu">
                        <div class="nav">
                            <a class="active show" data-toggle="tab" href="#liton_tab_details_1_1">Description</a>
                            <a data-toggle="tab" href="#liton_tab_details_1_2" class="">Reviews</a>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="liton_tab_details_1_1">
                            <div class="ltn__shop-details-tab-content-inner">
                               
                                <p>@item.description</p>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="liton_tab_details_1_2">
                          @*  <div class="ltn__shop-details-tab-content-inner">
                                <h4 class="title-2">Customer Reviews</h4>
                                <div class="product-ratting">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                        <li><a href="#"><i class="far fa-star"></i></a></li>
                                        <li class="review-total"> <a href="#"> ( 95 Reviews )</a></li>
                                    </ul>
                                </div>
                                <hr>
                                <!-- comment-area -->
                                <div class="ltn__comment-area mb-30">
                                    <div class="ltn__comment-inner">
                                        <ul>
                                            <li>
                                                <div class="ltn__comment-item clearfix">
                                                    <div class="ltn__commenter-img">
                                                        <img src="img/testimonial/1.jpg" alt="Image">
                                                    </div>
                                                    <div class="ltn__commenter-comment">
                                                        <h6><a href="#">Adam Smit</a></h6>
                                                        <div class="product-ratting">
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                                <li><a href="#"><i class="far fa-star"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, omnis fugit corporis iste magnam ratione.</p>
                                                        <span class="ltn__comment-reply-btn">September 3, 2020</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ltn__comment-item clearfix">
                                                    <div class="ltn__commenter-img">
                                                        <img src="img/testimonial/3.jpg" alt="Image">
                                                    </div>
                                                    <div class="ltn__commenter-comment">
                                                        <h6><a href="#">Adam Smit</a></h6>
                                                        <div class="product-ratting">
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                                <li><a href="#"><i class="far fa-star"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, omnis fugit corporis iste magnam ratione.</p>
                                                        <span class="ltn__comment-reply-btn">September 2, 2020</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ltn__comment-item clearfix">
                                                    <div class="ltn__commenter-img">
                                                        <img src="img/testimonial/2.jpg" alt="Image">
                                                    </div>
                                                    <div class="ltn__commenter-comment">
                                                        <h6><a href="#">Adam Smit</a></h6>
                                                        <div class="product-ratting">
                                                            <ul>
                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                                <li><a href="#"><i class="far fa-star"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, omnis fugit corporis iste magnam ratione.</p>
                                                        <span class="ltn__comment-reply-btn">September 2, 2020</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- comment-reply -->
                                <div class="ltn__comment-reply-area ltn__form-box mb-30">
                                    <form action="#">
                                        <h4 class="title-2">Add a Review</h4>
                                        <div class="mb-30">
                                            <div class="add-a-review">
                                                <h6>Your Ratings:</h6>
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                        <li><a href="#"><i class="far fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-item input-item-textarea ltn__custom-icon">
                                            <textarea placeholder="Type your comments...."></textarea>
                                        </div>
                                        <div class="input-item input-item-name ltn__custom-icon">
                                            <input type="text" placeholder="Type your name....">
                                        </div>
                                        <div class="input-item input-item-email ltn__custom-icon">
                                            <input type="email" placeholder="Type your email....">
                                        </div>
                                        <div class="input-item input-item-website ltn__custom-icon">
                                            <input type="text" name="website" placeholder="Type your website....">
                                        </div>
                                        <label class="mb-0"><input type="checkbox" name="agree"> Save my name, email, and website in this browser for the next time I comment.</label>
                                        <div class="btn-wrapper">
                                            <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
                <!-- Shop Tab End -->

            </div>
        </div>
    </div>
</div>
<!-- SHOP DETAILS AREA END -->
<!-- FAQ AREA START (faq-2) (ID > accordion_2) -->
<div class="ltn__faq-area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__faq-inner ltn__faq-inner-2">
                    <div id="accordion_2">
                        <!-- card -->
                         <div class="card">
                            <h6 class="collapsed ltn__card-title" data-toggle="collapse" data-target="#faq-item-2-0" aria-expanded="false">
                                Item Info
                            </h6>
                            <div id="faq-item-2-0" class="collapse show" data-parent="#accordion_2">
                                <div class="card-body section-bg-1">
                                    <div id="description">
                                            <div id="product-details"  class="clearfix">
                                                <section class="product-features">
                                                    <dl class="data-sheet">
                                                        <dt class="name">Collection</dt>
                                                        <dd class="value">@item.category_name</dd>
                                                        <dt class="name">For</dt>
                                                        <dd class="value">@item.gender</dd>
                                                        <dt class="name">Gender</dt>
                                                        <dd class="value">@item.gender</dd>
                                                        <dt class="name">Warranty</dt>
                                                        <dd class="value">2 Year International Warranty</dd>

                                                        <dt class="name">Watch Type</dt>
                                                        <dd class="value">@item.item_type</dd>

                                                    </dl>
                                                </section>

                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h6 class="collapsed ltn__card-title" data-toggle="collapse" data-target="#faq-item-2-1" aria-expanded="false">
                                Delivery Info
                            </h6>
                            <div id="faq-item-2-1" class="collapse show" data-parent="#accordion_2">
                                <div class="card-body section-bg-1">
                                    <p>  @Html.Raw(System.Net.WebUtility.HtmlDecode(item.delivery_info))</p>
                                </div>
                            </div>
                        </div>
                        <!-- card -->
                        <div class="card">
                            <h6 class="ltn__card-title" data-toggle="collapse" data-target="#faq-item-2-2" aria-expanded="true">
                               Why shop at G.B.SINGH?
                            </h6>
                            <div id="faq-item-2-2" class="collapse show" data-parent="#accordion_2">

                                <div class="card-body section-bg-1">
                                    <p>  @Html.Raw(System.Net.WebUtility.HtmlDecode(item.why_shop))</p>
                                </div>

                            </div>
                        </div>
                        <!-- card -->
                        <div class="card">
                            <h6 class="collapsed ltn__card-title" data-toggle="collapse" data-target="#faq-item-2-3" aria-expanded="false">
                               Frequently Asked Questions
                            </h6>
                            <div id="faq-item-2-3" class="collapse show" data-parent="#accordion_2">
                                 <div class="card-body section-bg-1">
                                      @foreach (var faq in Model.faqs)
                                                {
                                                   
                                                    <p class="MsoNormal"><strong>@faq.title</strong></p>
                                                    @Html.Raw(System.Net.WebUtility.HtmlDecode(faq.text))
                                                }
                                    
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="need-support text-center mt-100">
                        <h2>Still need help? Reach out to support 24/7:</h2>
                        <div class="btn-wrapper mb-30">
                            <a href="/contact" class="theme-btn-1 btn">Contact Us</a>
                        </div>
                        <h3><i class="fas fa-phone"></i> +91-84060 00022</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- FAQ AREA START -->
<!-- PRODUCT SLIDER AREA START -->
<div class="ltn__product-slider-area ltn__product-gutter pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2">
                    <h6 class="section-subtitle ltn__secondary-color"></h6>
                    <h1 class="section-title">Related Products<span>.</span></h1>
                </div>
            </div>
        </div>
        <div class="row ltn__related-product-slider-one-active slick-arrow-1">
            <!-- ltn__product-item -->
           @foreach (var r in Model.related_items)
           {
              var img= r.image.Contains("https://i.imgur.com/") ? r.image : "https://www.gbsretail.com" + r.image;
             img = img == "" || img==null? "/img/no_image.png" : img;
            <div class="col-lg-12">
               <a href="/product-details?modelno=@r.sku">
       <div class="product-card">
            <div class="logo-cart">
                <img src="@r.brand_image" alt="logo">
                <i class='bx bx-shopping-bag'></i>
            </div>
            <div class="main-images">
                <img id="blue" class="blue active" src="@img" alt="">

            </div>
            <div class="shoe-details">
                <span class="shoe_name">&nbsp;</span>

                <div class="wrapper">
                    <p class="demo-1">&nbsp</p>
                </div>
            </div>
              <div class="product-price">
                    <span style="font-size:14px;color:grey">@r.sku</span>
                </div>
                 <div class="product-price">
                     <p class="demo-1" style="font-size:10px">@r.item_name</p>
                </div>
            <div class="color-price">
               
                <div class="price">
                    <div class="product-price">
                        @if (r.price > r.sales_price)
                        {
                            <span style='color:red;text-decoration:line-through'>
                                <span style='color:black'>₹ @r.price</span>
                            </span>
                        }
                        <span>&nbsp;&nbsp;  ₹ @r.sales_price</span>
                    </div>
                </div>
            </div>
            @if (r.stock_qty > 0)
            {
                <form action="#" method="post" id="add-to-cart-or-refresh">


                    <input type="hidden" name="product_id" value="@r.id">
                    <input type="hidden" name="modelno" value="@r.sku">
                    <input type="hidden" name="product_name" value="@r.item_name">
                    <input type="hidden" name="image" value="@r.image">
                    <input type="hidden" name="price" value="@r.sales_price">
                    <a href="#" title="Add to Cart" data-toggle="modal" data-target="#add_to_cart_modal">
                        <input type="hidden" name="qty" value="1">
                        <div class="button">
                            <div class="button-layer"></div>
                            <button type="button">Add To Cart</button>
                        </div>
                    </a>
                </form>
            }
            else
            {


                <div class="product-price">
                    <span>Out Of Stock</span>
                </div>


            }
        </div>
        </a>
            </div>
            }
          
        </div>
    </div>
</div>
<!-- PRODUCT SLIDER AREA END -->
