@model IEnumerable<Utility.ResultModel.ItemModel>

@foreach (var item in Model)
{
    //var img = (item.image == "" || item.image==null) ? "/img/no_image.png" : item.image;
    var img = item.image.Contains("https://i.imgur.com/") ? item.image : (item.image.Contains("https//i.ibb.co/") ? item.image : "https://admin.gbsretail.com" + item.image);
    <div class="col-xl-3 col-sm-6 col-6 ">
        <a href="/product-details?modelno=@item.sku">
        <div class="product-card">
            <div class="logo-cart">
                <img src="@item.brand_image" alt="logo">
                <i class='bx bx-shopping-bag'></i>
            </div>
            <div class="main-images">
                <img id="blue" class="blue active" src="@img" alt="">

            </div>
            <div class="shoe-details">
                <span class="shoe_name">&nbsp;</span>

                <div class="wrapper">
                    <p class="demo-1">&nbsp</p>
                </div>
            </div>
              <div class="product-price">
                    <span style="font-size:14px;color:grey">@item.sku</span>
                </div>
                 <div class="product-price">
                     <p class="demo-1" style="font-size:10px">@item.item_name</p>
                </div>
            <div class="color-price">
               
                <div class="price">
                    <div class="product-price">
                        @if (item.price > item.sales_price)
                        {
                            <span style='color:red;text-decoration:line-through'>
                                <span style='color:black'>₹ @item.price</span>
                            </span>
                        }
                        <span>&nbsp;&nbsp;  ₹ @item.sales_price</span>
                    </div>
                </div>
            </div>
            @if (item.stock_qty > 0)
            {
                <form action="#" method="post" id="add-to-cart-or-refresh">


                    <input type="hidden" name="product_id" value="@item.id">
                    <input type="hidden" name="modelno" value="@item.sku">
                    <input type="hidden" name="product_name" value="@item.item_name">
                    <input type="hidden" name="image" value="@item.image">
                    <input type="hidden" name="price" value="@item.sales_price">
                    <a href="#" title="Add to Cart" data-toggle="modal" data-target="#add_to_cart_modal">
                        <input type="hidden" name="qty" value="1">
                        <div class="button">
                            <div class="button-layer"></div>
                            <button type="button">Add To Cart</button>
                        </div>
                    </a>
                </form>
            }
            else
            {


                <div class="product-price">
                    <span>Out Of Stock</span>
                </div>


            }
        </div>
        </a>
    </div>
}


