 @model IEnumerable<Utility.Models.CartModel>

        <div class="ltn__utilize-menu-inner ltn__scrollbar">
            <div class="ltn__utilize-menu-head">
                <span class="ltn__utilize-menu-title">Cart</span>
                <button class="ltn__utilize-close">×</button>
            </div>
            <div class="mini-cart-product-area ltn__scrollbar">
                 @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    var img = "";
                    if(item.image!=null){
                     img = item.image.Contains("https://i.imgur.com/") ? item.image : "https://www.gbsretail.com" + item.image;
                    }
                    <div class="mini-cart-item clearfix">
                        <div class="mini-cart-img">
                            <a href="#"><img src="@img" alt="Image"></a>
                            <span onclick="delete_cartitem(@item.product_id)" class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                        </div>
                        <div class="mini-cart-info">
                            <h6><a href="#">@item.modelno</a></h6>
                            <span class="mini-cart-quantity">@item.qty x ₹ @item.price</span>
                        </div>
                    </div>
                }
            }
           
            </div>
            <div class="mini-cart-footer">
                <div class="mini-cart-sub-total">
                    <h5>Subtotal: <span>₹ @(Model.Sum(m=>m.price*m.qty))</span></h5>
                </div>
                <div class="btn-wrapper">
                    <a href="/cart" class="theme-btn-1 btn btn-effect-1">View Cart</a>
                    <a href="/checkout" class="theme-btn-2 btn btn-effect-2">Checkout</a>
                </div>
                <p></p>
            </div>

        </div>
   